.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #f3f3f3;
    overflow-x: hidden;
    border-color: black;
    border-style: double;
    
    /* padding-top: 20px; */
 
    
}
.sidenav a{
    padding: 10px;
    color: black;
    display: block;
    font-size: x-large;
    
}

.selfie{
    width: 120px;
    height: 100px;
    padding-top: 20px;
}

.li{
    color: white;
}

.logo{
    text-align: center;
    background-color: #dfd8cb;
}

.main{
    margin-left: 204px;

}

.block {
    background-color: #037270;
    padding-top: 20px;
    height: 100%;
    width: 100% ;
    position: fixed;
}



.info {
    margin-left: 90px;
    color: white;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
   
}

.info a{
    padding-right: 20px;
}
.logos img{
    width: 90px;
    height: 90px;
    padding: 10px;

}

.info p {
    font-size: 30px;
    
}

.text {
    width: 50% ;
}

